<!doctype html>
<html>
  <head>
    <title>Search</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/app.bundle.js" defer ></script>
  </head>
  <body>
    <div id="buttons">
      <input id="query" type="text"/><button type="button" id="search-button">Search</button>
    </div>
    <div id="search-container">

    </div>

  </body>
</html>
