@mixin GradientOpacityBG() {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, $darkPink 5%, $darkBlue 100%);
    background: -moz-linear-gradient(-45deg, $darkPink 5%, $darkBlue 100%);
    background: -webkit-linear-gradient(-45deg, $darkPink 5%, $darkBlue 100%);
    opacity: 0.4;
}

@mixin OpacityBackground($bg, $opacity) {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    opacity: $opacity;
    background-image: url($bg);
    
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

@mixin parallaxScrolling() {
    background: url("../images/Onepage_Background.png");
    background-position: bottom;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin GradientBG($color, $img) {
  background: linear-gradient($color, $color), url($img);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;     
}

@mixin GradientBGHover($color, $img) {
    background-size: 160%;
}
