//
// Colors
//
$primaryLight: #f7fcff;
$primaryDark: #202326;

$lightPink: #ff8fc1;
$middlePink: #ff4297;
$darkPink: #ea257d;

$lightBlue: #b6e8f2;
$middleBlue: #8dccd9;
$darkBlue: #56aebf;

$lightOrange: #ffbb87;
$middleOrange: #ffa25b;

$lightGray: #ecf1f3;

//
//One Page Titles-size
//
$title-size: 4.8em;
$desc-size: 1.8em;
$learnmore-size: 1.6em;

//
// Text-size
//
$text-size: 1.3em;
$medium-size: 1.6em;

//
// Header size
//
$title-header: 2.5em;
$semi-title-header: 2.1em;
$semi-small-header:1.8em;
$small-header: 1.7em;

//
// Rooms background overlay
//
$home-bg_overlay: rgba(191, 105, 143, 0.7);
$premium-bg_overlay: rgba(165, 122, 89, 0.7);

$create-bg_overlay: rgba(191, 105, 143, 0.45);
$join-bg_overlay: rgba(165, 122, 89, 0.45);

//
// SIZE FOOTER
//
$footer-desktop: 65px;
$footer-mobile: 70px;