@import "_variables.scss";
@import "_reset.scss";
@import "_mixins.scss";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $primaryLight;
  font-family: "Open Sans", sans-serif;
  color: $primaryLight;
  font-size: 62.5%; //1.2em --> 12px
}

h1,
h2,
h3,
h5,
h6 {
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.7);
  font-family: Roboto;
}

h2 {
  font-size: $title-header;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: $title-header - 0.2em;
  }
}

h3 {
  font-size: $semi-title-header;

  @media screen and (max-width: 600px) {
    font-size: $semi-title-header - 0.2em;
  }
}

h4 {
  font-size: $semi-small-header;

  @media screen and (max-width: 600px) {
    font-size: $semi-title-header - 0.2em;
  }
}

h5 {
  font-size: $small-header;

  @media screen and (max-width: 600px) {
    font-size: $small-header - 0.4em;
  }
}

p {
  font-size: 1.3em;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.7);
}

.push {
  height: $footer-desktop;
  margin-top: 30px;

  @media screen and (max-width: 600px) {
    height: $footer-mobile;
  }
}

input[type="text"],
input[type="password"] {
  //padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.6em;
  border-radius: 3px;
  border: 0;
}

/*
################
               NAVIGATION
################
*/
#nav {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  box-sizing: border-box;
  padding: 4px 20px;
  z-index: 10;

  @media screen and (max-width: 1022px) {
    display: none;
  }

  @media screen and (max-width: 700px) {
    padding: 5px 8px;
  }

  &__items {
    line-height: 60px;

    .nav__item {
      display: inline;
      font-size: $medium-size;
      margin-left: 30px;
      a {
        color: $primaryLight;
      }
    }

    .nav__item--login {
      background-color: $lightPink;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.nav--color {
  background-color: $primaryDark;
}

.nav--non_fixed {
  position: initial;
  background: $primaryDark;
  opacity: 0.9;
}

.nav--scroll {
  background-color: $primaryDark;
  opacity: 0.95;
  transition: 0.3s;

  @media screen and (max-width: 1022px) {
    display: none;
  }
}

/* ///   Navigation Drawer    /// */
.layout__drawer-button {
  display: block;

  height: auto;
  margin-top: 2px;
  margin-left: 10px;
  line-height: 56px;

  text-align: center;
  cursor: pointer;

  font-size: 2.6em;
}

.layout__drawer {
  height: 100%;
  width: 0px;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: $primaryDark;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 5px;

  @media screen and (min-width: 1023px) {
    display: none;
  }
}

.layout__drawer--active {
  height: 100%;
  width: 240px;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: $primaryDark;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 5px;
}

.layout__drawer-title {
  display: block;
  position: relative;
  padding: 8px 0px 10px 20px;
  color: #424242;
  line-height: 56px;
}

.layout__drawer-title * {
  float: left;
}

.layout__drawer__nav {
  margin-top: 60px;
}

.layout__drawer__navigation__link {
  color: whitesmoke;
  padding: 16px;
  display: block;
  margin: 0;
  text-decoration: none;
  opacity: 0.87;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  font-size: $medium-size;
}
.layout__drawer__navigation__link:hover {
  background-color: #424242;
  color: $primaryLight;
}

.layout__drawer__navigation__login {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $lightPink;
  width: 100%;
  text-align: center;
  color: white;
  padding-left: 0px;
  padding: 16px;
  font-size: 1.6em;
  box-sizing: border-box;
}

/*
################
               LOGIN POPUP
################
*/
.popup__hide {
  display: none;
}

.popup--login {
  // width:960px;
  // height:540px;
  // position: fixed;
  // top:50%;
  // left:50%;
  // margin-left:-480px;
  // margin-top:-270px;
  // z-index:60;
  // display:none;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  border-radius: 3px;
  background-color: whitesmoke;
  z-index: 60;
}

/* The popup (background) */
.popup {
  display: block;
  position: fixed;
  z-index: 888;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.btnLogin {
  background-color: #ff8fc1;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 55%;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 17px;
}

/* popup Content Box */
.popup-content {
  background-color: $primaryDark;
  margin: 4% auto 15% auto;
  width: 40%;
  padding-bottom: 30px;
  border-radius: 4px;
  text-align: center;

  @media screen and(max-width: 1022px) {
    margin: 25% auto;
    padding: 0px;
    width: 90%;
  }

  input[type="text"],
  input[type="password"] {
    width: 85%;
    padding: 12px 20px;
    margin: 10px;
  }
}

.popup__container--main {
  background-image: url("http://maxpixel.freegreatpicture.com/static/photo/2x/Songs-Equipment-Music-Dj-Disco-Play-Dance-2581269.jpg");
  background-position: center center;
  border-radius: 4px 4px 0px 0px;
  padding: 15px 0px 25px 0px;
  margin-bottom: 15px;
}

.popup__container--other {
}

.popup__container--actionText {
  font-size: $learnmore-size;
  display: block;
  padding: 16px;
  color: whitesmoke;
}

.popup__container--btnSocials {
  width: 90%;
  padding: 14px 20px;
  margin: 8px 26px;
  border: none;
  cursor: pointer;
  font-size: 20px;

  @media screen and (max-width: 1022px) {
    margin: 2%;
  }
}

/* The Close Button (x) */
.close {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0px 0px 10px 15px;
  text-align: center;
  line-height: 35px;
  font-size: $medium-size;
}
.close:hover,
.close:focus {
  color: $darkPink;
  border: 2px solid $darkPink;
  cursor: pointer;
}

/*
################
               MEDIA QUERIES: Showing Mobile Header
################
*/
@media screen and (max-width: 1022px) {
  #header--mobile {
    display: flex;
    position: fixed;
    width: 100%;
    height: 56px;
    background: #202326;
    z-index: 999;
  }

  .header--mobile__logo-container {
    margin: 0 auto;
    vertical-align: middle;
    max-height: 100%;
    padding-top: 17%;
    padding-bottom: 17%;
  }
}

@media screen and (min-width: 1023px) {
  #header--mobile {
    display: none;
  }
}

/*
################
               TUNU BUTTONS (ONE PAGE, TRY IT OUT NOW)
################
*/
#btn__items {
  padding-top: 15px;
  width: 250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .btn__item {
    width: 120px;
    background-color: $primaryLight;
    border-radius: 5px;
    display: block;

    a {
      text-align: center;
      font-size: $text-size;
      color: $primaryDark;
      display: block;
      padding: 8px 5px;
      box-sizing: border-box;
    }
  }

  .btn__item--big {
    margin-top: 15px;
    width: 100%;
  }
}

/*
################
               ONE PAGE 
################
*/
#onepage {
  @include parallaxScrolling();
  height: 100vh;

  &:before {
    @include GradientOpacityBG();
  }

  &__learnmore {
    position: absolute;
    bottom: 5px;
    width: 100%;

    a {
      color: $primaryLight;
    }

    h6 {
      text-align: center;
      font-size: $learnmore-size;
    }
  }
}

#onepage__content {
  position: relative;
  //padding-top: 320px;
  padding-top: 35vh;
  width: 100%;
  max-width: 1280px;
  margin: auto;

  @media screen and (max-width: 700px) {
    padding-top: 25vh;
  }

  &__title {
    text-align: center;

    h1 {
      font-size: $title-size;

      @media screen and (max-width: 700px) {
        font-size: $title-size - 0.5em;
      }

      @media screen and (max-width: 500px) {
        font-size: $title-size - 0.7em;
      }
    }

    h4 {
      margin-top: 5px;
      font-size: $desc-size;

      @media screen and (max-width: 700px) {
        font-size: $desc-size - 0.3em;
      }
    }
  }

  &__store {
    padding-top: 80px;
    width: 285px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}

/*
################
               WHAT IS TUNU
################
*/
#what_tunu {
  height: auto;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: $lightBlue;
  padding-bottom: 20px;

  &__items {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      flex-flow: row wrap;
    }

    .what_tunu__item {
      width: 33%;
      max-width: 350px;
      margin: 0px 15px;

      @media screen and (max-width: 600px) {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
      }

      &__img {
        max-width: 350px;
        width: 100%;
        height: 150px;
        margin: auto;
        background-color: $primaryLight;
        border-radius: 10px;

        @media screen and (max-width: 600px) {
          max-width: none;
        }
      }

      h3 {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      p {
        text-align: justify;
        text-align-last: center;
      }
    }

    .what_tunu__item:last-child {
      @media screen and (max-width: 700px) {
        margin-bottom: 0px;
      }
    }
  }
}

/*
################
               WHAT IS TUNU 2 (Connect speakers & Start party)
################
*/
#final_what_tunu {
  display: flex;
  height: auto;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .final_what_tunu__item {
    position: relative;
    width: 50%;
    background-color: $lightPink;
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (max-width: 600px) {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__content {
      position: relative;
      z-index: 2;
      margin: auto;

      max-width: 400px;
      width: 100%;

      padding: 0px 10px;
      box-sizing: border-box;

      &__img {
        max-width: 250px;
        width: 100%;
        height: 125px;
        margin: auto;
        background-color: $primaryLight;
        border-radius: 10px;
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
      }

      p {
        text-align: justify;
        text-align-last: center;
      }
    }
  }

  .final_what_tunu__item--orange {
    background-color: $lightOrange;
  }

  .final_what_tunu__item:before {
    @include OpacityBackground("../images/bg_1.jpg", 0.2);
  }

  .final_what_tunu__item--orange:before {
    @include OpacityBackground("../images/bg_2.jpg", 0.25);
  }
}

/*
################
               TRY IT OUT NOW
################
*/
#try_it_out {
  @include parallaxScrolling();
  position: relative;
  height: auto;
  padding-bottom: 15px;

  &__content {
    position: relative;
    z-index: 2;
  }

  h2 {
    padding-top: 10px;
  }

  h3 {
    text-align: center;
  }

  &:before {
    @include GradientOpacityBG();
    z-index: 1;
  }
}

/*
################
               FAQ & CONTACT
################
*/
#faq_contact {
  position: relative;
  display: flex;
  height: auto;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .faq_contact__item {
    width: 50%;
    background-color: $lightPink;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    #faq {
      margin-bottom: 15px;

      .question {
        font-size: $medium-size;
        font-weight: 700;
        margin-top: 15px;
      }

      .answer {
        font-size: $text-size;
        margin-left: 10px;
      }
    }

    h2 {
      text-align: left;
    }
  }

  .faq_contact__item--orange {
    background-color: $lightOrange;
    text-align: center;
    position: relative;

    @media screen and (max-width: 600px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .faq_contact__item__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .contact_btn {
      color: $primaryLight;
      font-size: $semi-title-header;
      font-weight: 700;
      padding: 5px 10px;
      border: 3px solid $primaryLight;
      border-radius: 10px;

      @media screen and (max-width: 700px) {
        font-size: $semi-title-header - 0.2em;
        padding: 2px 6px;
      }
    }

    h2 {
      margin-top: -20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

/*
################
               SPLITTED CONTENT == pricing.html & app/index.html pages
################
*/

#splitted_content {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: $lightBlue;

  @media (orientation: landscape) {
    width: 100%;
    flex-direction: row;
  }
}

.splitted_content__item {
  color: $primaryLight;
  font-size: $text-size;

  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.3em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: -30px;

  @media (orientation: landscape) {
    width: 50%;
    height: 100%;
    margin-top: -$footer-desktop;
  }

  &__icon {
    font-size: 5em;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.7);
  }
}

#tunuHome {
  @include GradientBG($home-bg_overlay, "../images/bg_5.jpg");

  //&:hover {
  //	@include GradientBGHover($home-bg_overlay, "../images/bg_5.jpg");
  //}
}

#tunuPremium {
  @include GradientBG($premium-bg_overlay, "../images/bg_6.jpg");

  //&:hover {
  //	@include GradientBGHover($home-bg_overlay, "../images/bg_6.jpg");
  //}
}

#createRoom {
  @include GradientBG($create-bg_overlay, "../images/bg_3.jpg");
}

#joinRoom {
  @include GradientBG($join-bg_overlay, "../images/bg_4.jpg");
}

#createRoom:hover {
  background: linear-gradient(rgba(105, 58, 79, 0.45), rgba(105, 58, 79, 0.45)),
    url(../images/bg_3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#joinRoom:hover {
  transition: 3;
  background: linear-gradient(rgba(90, 67, 50, 0.45), rgba(90, 67, 50, 0.45)),
    url(../images/bg_4.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
################
               CONTENT
################
*/

#content {
  min-height: 100%;
  margin: 0 auto -65px;

  @media screen and (max-width: 600px) {
    margin: 0 auto -70px;
  }

  &__title {
    padding-top: 80px;

    @media screen and (max-width: 1022px) {
      padding-top: 70px;
    }
  }

  &__pricechart {
    margin-top: 80px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      margin-top: 40px;
    }
  }
}

.content__home {
  @include GradientBG($home-bg_overlay, "../images/bg_5.jpg");
}

.content__premium {
  @include GradientBG($premium-bg_overlay, "../images/bg_6.jpg");
}

/*
################
               PRICE CHART
################
*/

.pricechart {
  position: relative;
  width: 250px;
  background-color: $primaryLight;
  height: 450px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);

  &__title {
    width: 100%;
    background-color: $primaryDark;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }

  &__price {
    width: 100%;
    color: $primaryDark;
    background-color: $lightGray;
    text-align: center;
    padding: 5px 0px 5px 0px;
  }

  &__list {
    color: $primaryDark;
    text-align: center;
    font-size: $text-size;

    &__item {
      padding: 8px 0px 3px 0px;
      border-bottom: 2px solid $lightGray;
      display: flex;
      justify-content: center;

      .material-icons {
        color: $primaryDark;
        margin-top: -5px;
      }

      span {
        margin-left: 3px;
      }
    }
  }

  &__btn {
    background-color: $primaryDark;
    width: 100%;
    border: 0;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;

    a {
      display: block;
      color: $primaryLight;
      font-size: $medium-size - 0.3em;
      padding: 10px 0px 10px 0px;
    }
  }
}

.pricechart--homeplus {
  .pricechart__title {
    background-color: $middlePink;
  }

  .pricechart__price {
    color: $middlePink;
  }

  .pricechart__btn {
    background-color: $middlePink;
  }

  @media screen and (max-width: 600px) {
    border-left: 2px solid $primaryDark;
  }
}

.pricechart--premium {
  .pricechart__title {
    background-color: $middleOrange;
  }

  .pricechart__price {
    color: $middleOrange;
  }

  .pricechart__btn {
    background-color: $middleOrange;
  }
}

.pricechart--big {
  margin-top: -9px;
  transform: scale(1.04);

  @media screen and (max-width: 600px) {
    margin-top: 0px;
    transform: scale(1);
  }
}

/*
################
                Rooms page
################
*/

.content__title--bg {
  padding-bottom: 15px;
  text-align: center;
  background-color: $lightBlue;

  input[type="text"] {
    text-align: center;
    width:25%;
    margin-top: 10px;
    padding: 5px 10px;
  }
}

#content__rooms {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
} 

.content__rooms__main {
  margin: 15px 20px;

  &__title {
    font-size: $title-header;
    color: $primaryDark;
  }

  &__rooms {
    display:flex;
  }
}

.room__item {
  position: relative;
  background-color: $primaryLight;
  background-position: center center;
  background-size: cover;

  height: 225px;
  width: 225px;

  margin-top:10px;
  margin-right:10px;

  &__information {
    position: absolute;
    width:100%;
    bottom:0;
    
    background-color: black;
    opacity: 0.8;

    a {
      text-decoration: none;
      color:$primaryLight;
      display:block;
      height:45px;
      
      //Center Vertical
      display: flex;
      align-items: center;
      justify-content: space-between;

      box-sizing: border-box;
      padding:0px 10px;
    }

    &--image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      float: right;
    }
  }
}

.content__rooms__subcontainer {
  //display: flex;
  //flex-direction: row;
  margin-top: 20px;
  //padding-top: 20px;
  //padding-bottom: 20px;

  &__item {
    background-image: url(../images/bg_3.jpg);
    background-position: center center;
    background-size: cover;

    margin-left: 5px;
    margin-right: 5px;

    //display: flex;
    //align-items: end;

    height: 225px;
    width: 225px;
  }

  &__item__bar {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 600px) {
      height: 60px;
    }

    &--image {
      width: 25px;
      height: 25px;
      margin: 5px;
      border-radius: 50%;
      float: right;

      @media screen and (min-width: 600px) {
        width: 50px;
        height: 50px;
      }
    }
  }
}

/*
################
               JOIN rooms page
################
*/

#joinRoomContent {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: space-evenly;

  @media screen and (max-width: 1022px) {
    padding-top: 56px;
  }
}

#joinRoomContent h1 {
  font-size: $title-header;
  color: $primaryDark;
}

.joinRoomContent_item {
  height: 50%;

  // display: flex;
  // flex-direction: column;

  // margin-left: 2%;
  // margin-right: 2%;
  margin: 3%;
}

.joinRoomContent__subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.joinRoomContent__subcontainer__item {
  background-image: url(../images/bg_3.jpg);
  background-position: center center;
  background-size: cover;

  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: end;

  height: 100px;
  width: 100px;

  @media screen and (min-width: 600px) {
    height: 200px;
    width: 200px;
  }

  @media screen and (min-width: 959) {
    height: 275px;
    width: 275px;
  }

  @media screen and (min-width: 1022px) {
    height: 350px;
    width: 350px;
  }
}

.joinRoomContent__subcontainer__item__bar {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 600px) {
    height: 60px;
  }
}

.joinRoomContent__subcontainer__item__bar--image {
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 50%;
  float: right;

  @media screen and (min-width: 600px) {
    width: 50px;
    height: 50px;
  }
}

/*
################
               FOOTER
################
*/
#footer__bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

footer {
  height: $footer-desktop;
  background-color: $primaryDark;

  @media screen and (max-width: 600px) {
    height: $footer-mobile;
  }

  #footer__content {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      text-align: center;
      padding-bottom: 5px;
    }

    &__text {
      line-height: $footer-desktop;

      @media screen and (max-width: 600px) {
        line-height: 0px;
        margin-top: 12px;
      }
    }

    &__socialmedia {
      display: flex;
      margin-top: 10px;

      @media screen and (max-width: 600px) {
        margin: auto;
      }

      .footer__socialmedia__icon {
        margin-left: 10px;

        @media screen and (max-width: 600px) {
          margin-top: 15px;
          margin-left: 0px;
        }

        img {
          @media screen and (max-width: 600px) {
            width: 35px;
            height: 35px;
            margin: 0px 5px 0px 5px;
          }
        }
      }
    }
  }
}
