extends ../layout

block content
    h1= title

    form(method="POST", action="/rooms/edit/{room._id}")

        p
            input#roomname(name="_id", value=room._id, hidden)

        p
            label(for="roomname") Room name<br />
            input#roomname(name="name", value=room.name)

        p
            label(for="name") Name<br />
            input#name(name="owner", value=room.owner)

        p
            label(for="location") Location<br />
            input#location(name="location", value=room.location)

        p
            label(for="private") Private<br />
            input(type="checkbox")#private(name="private", value=room.private)

        p
            input(type="submit", value="Update", name="_method")
            input(type="submit", value="Delete", name="_method")