extends ../layout

block content

    h1= title

    p
        a(href="/rooms/new") Maak een nieuwe room aan


    ul
    - for(var i in roomlist)
        li
            span= roomlist[i].name
            a(href="/rooms/" + encodeURIComponent(roomlist[i]._id), style="margin:0 10px") Details
            a(class="button", href="/rooms/edit/" + encodeURIComponent(roomlist[i]._id)) Edit
    