extends ../layout

block content
    form(method="POST", action="/rooms/new")

        p
            label(for="roomname") Room name<br />
            input#roomname(name="name")

        p
            label(for="name") Name<br />
            input#name(name="owner")

        p
            label(for="location") Location<br />
            input#location(name="location")

        p
            label(for="private") Private<br />
            input(type="checkbox")#private(name="private")

        p
            input(type="submit", value="Create")